body {
    margin: 0;
    color: #111;
    background-color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    user-select: none;
    gap: 3em;
    width: 100vw;
    padding: 2em 0;
    background-color: #eee;
    opacity: 0.8;
    border-bottom: 0.25em solid #ddd;
    z-index: 1;
}

nav>a {
    position: relative;
    color: #111;
    text-decoration: none;
    font-size: 1.1em;
}

nav>a.active {
    scale: 1.2;
    font-weight: bold;
}

nav>a::before {
    content: '';
    position: absolute;
    width: 0%;
    transition: width 750ms;
    height: 10%;
    top: 125%;
    background-color: #111;
}

nav>a:hover::before {
    content: '';
    width: 100%;
}

@media only screen and (max-width: 900px) {
    nav {
        display: none;
    }
}

main>div {
    position: relative;
    width: 100vw;
    min-height: calc(100vh - 90px);
    border-bottom: 0.25em solid #ddd;
}

main>div>h1 {
    margin: 0;
    padding: 1em 0 0 0;
    text-align: center;
    position: relative;
    font-size: 3em;
    color: #ececec;
}


main>div>h1::before {
    content: '';
    position: absolute;
    background-color: #00008b;
    width: 120vw;
    z-index: -1;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

main>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-bottom: 5em;
}

.text-box {
    font-size: 1.1em;
    text-align: justify;
    padding: 1.5em 3em;
    max-width: 50%;
    border-radius: 1.5em;
    background: #ececec;
    box-shadow: 0.5em 0.5em 1em #bebebe, -0.5em -0.5em 1em #fff;
}

main>div#home>p>a {
    color: #00008b;
}

main>div#formations>div {
    position: relative;
    display: grid;
    padding: 0 0 0 6em;
    border-left: 2px dotted #111;
}

main>div#formations>div>div::before {
    content: '';
    position: absolute;
    left: calc(-6em - 2px);
    top: 0;
    height: 100%;
    border: 1px solid #111;
}

main>div#formations>div>div:not(:last-child) {
    margin-bottom: 30%;
}

main>div#formations>div>div {
    position: relative;
    padding: 1em 1.5em;
    width: fit-content;
    border-radius: 1.5em;
    background: #ececec;
    box-shadow: 0.5em 0.5em 1em #bebebe, -0.5em -0.5em 1em #fff;
}

main>div#formations>div>div>p:not(:last-child) {
    position: absolute;
    left: -5em;
}

main>div#formations>div>div>p:nth-child() {
    top: 0em;
}

main>div#formations>div>div>p:nth-child(2) {
    bottom: 0em;
}

main>div#skills>div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

main>div#skills>div>img {
    width: 8em;
    padding: 1em 1.5em;
    border-radius: 1.5em;
    background: #ececec;
    box-shadow: 0.5em 0.5em 1em #bebebe, -0.5em -0.5em 1em #fff;
}

main>div#skills>div>img:hover {
    box-shadow: inset 0.5em 0.5em 1em #bebebe, -0.5em -0.5em 1em #fff;
}

main>div#projects>div {
    display: flex;
    text-align: justify;
    gap: 3em;
    margin: 2em 10em;
    align-items: center;
    padding: 1em 1.5em;
    border-radius: 1.5em;
    background: #ececec;
    box-shadow: 0.5em 0.5em 1em #bebebe, -0.5em -0.5em 1em #fff;
}

main>div#projects>div:nth-child(even) {
    flex-direction: row-reverse;
}

main>div#projects>div>div>h2 {
    text-align: center;
}

main>div#projects>div>img {
    width: 800px;
    height: max-content;
    border-radius: 1em;
}

@media only screen and (max-width: 1500px) {
    main>div#projects>div:nth-child(even),
    main>div#projects>div {
        display: flex;
        flex-direction: column;
    }
}

main>div#contact>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
}

main>div#contact>div>a {
    display: grid;
    justify-items: center;
    text-decoration: none;
    color: #111;
}

main>div#contact>div>a>img {
    width: 5em;
}