/* @media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
    }
} */

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url("../font/Comfortaa-Regular.ttf");
}

body {
    background-color: whitesmoke;
}
